* {
  box-sizing: border-box;
}

html {
  color: white;
  background-color: #1f2937;
  font-family: roboto, sans-serif;
}


body {
  margin: 0 auto;
  padding: 0;
}

p {
  margin: 0;
}

section {
  min-width: 900px;
}

.section1 {
  padding: 0 2rem;
  margin-bottom: 4rem;
}

section>div {
  width: 800px;
  margin: auto;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.5rem;
}

.navbar ul li:first-child {
  margin-right: auto;
}

.navbar ul li a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white;
}

.navbar ul li a:hover {
  color: #3882f6;
}

.section1 header {
  display: flex;
  gap: 1rem;
  margin-top: 4rem;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  flex: 1;
}

.hero-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
}

button {
  border-radius: 0.5rem;
  width: max-content;
  padding: 0.5rem 1.5rem;
  background-color: #3882f6;
  color: white;
  cursor: pointer;
}

.section1 header div button {
  border: none;
}

.section1 header div button:hover {
  background-color: #2e6cbf;
}

.hero-image {
  height: 100%;
  object-fit: cover;
  max-width: 350px;
}


.section2 {
  padding: 2rem 2rem 4rem 2rem;
  background-color: white;
  color: black
}

.info-header {
  margin: 0 0 2rem 0;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
}

.info-content {
  display: flex;
  gap: 2rem;
  padding: 0 10%;
}

.info-content-item {
  flex: 1 1 200px;
  gap: 1rem;
}

.info-content-item p {
  text-align: left;
  text-align-last: center;
}

.info-content-item img {
  width: 100%;
  border: 2px solid #3882f6;
  border-radius: 0.5rem;
}

.info-content-item img:hover {
  border-color: rgb(228, 58, 223);
}


.section3 {
  background-color: #e5e7eb;
  padding: 4rem 10%;
}

.quote-content {
  font-size: 36px;
  font-weight: 200;
  color: #1f2937;
  font-style: italic;
  padding: 0 2rem 2rem 2rem;
}

.quote-author {
  font-size: 24px;
  font-weight: 600;
  color: black;
  text-align: right;
  padding: 0 4rem 0 0;
}


.section4 {
  padding: 4rem 2rem;
  background-color: white;
}

.section4 h2 {
  margin: 0;
  font-size: 1rem;
}

.section4 p {
  font-weight: 100;
  color: #e5e7eb;
}

.section4>div {
  display: flex;
  background-color: #3882f6;
  border-radius: 0.5rem;
  padding: 2rem 4rem;
}

.section4 div div {
  flex: 1;
}

.section4 button {
  border: 1px solid white;
  flex: 0;
}

.section4 button:hover {
  background-color: #2e6cbf;
}


footer {
  padding: 1rem 0;
  text-align: center;
  font-size: 0.8rem;
}
